<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/scss/style.css" />
    <title>Editing <%= list.title %></title>
  </head>
  <body class="text-white text-center">
    <%- include('../partials/_navbar.ejs') %>
    <h3 class="text-center mt-5">Editing List: <%= list.title %></h3>
    <form
      action="/users/<%= user._id %>/lists/<%= list._id %>/?_method=PUT"
      method="post"
      class="d-flex flex-column align-items-center"
    >
      <div class="col-md-5">
        <label for="title" class="col-sm col-form-label">Title (must enter exact title)</label>
        <input
          type="text"
          name="title"
          id="title"
          value="<%= list.title %>"
          class="form-control"
        />
      </div>
      <div class="pt-3 col-md-5">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="description"
          class="form-control text-white"
        >
<%= list.description %></textarea
        >
      </div>
      <button type="submit" class="btn btn-outline-primary my-3">
        Update List
      </button>
    </form>
    <a href="/users/<%= user._id %>/lists/<%= list.id %>">
      <button class="btn btn-outline-danger">Cancel</button>
    </a>
  </body>
</html>
