<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= list.title %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= list.title %></h1>
    <h3><%= list.description %></h3>

    <a href="/users/<%= user._id %>/lists/<%= list._id %>/edit">Edit List Details</a>

    <form
      action="/users/<%= user._id %>/lists/<%= list._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete list</button>
  </body>
</html>
