<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/scss/style.css" />
    <title><%= user.username %>'s Lists</title>
  </head>
  <body class="text-white">
    <%- include('../partials/_navbar.ejs') %>
    <h3 class="text-center mt-5"><%= user.username %>'s Lists</h3>
    <div class="d-flex justify-content-center mt-5">
      <ul class="list-unstyled">
        <% if (user.lists.length > 0) { %> <% user.lists.forEach((list) => { %>
        <a
          href="/users/<%= user.id %>/<%= list._id %>"
          class="text-decoration-none"
        >
          <li class="pb-2"><%= list.title %></li>
        </a>
        <% }) %> <% } else { %>
        <p class="mt-3">No list's yet</p>
        <% } %>
      </ul>
    </div>
  </body>
</html>
